<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <form action="{% url 'autenticar' %}" method="POST">
        {% csrf_token %}
        <input type="text", placeholder="Usuário", name='usuario'>
        <br>
        <input type="password", placeholder="Senha", name='senha0'>
        <br>
        <br>
        <input type="submit", value='Entrar'>
    </form>
    <br>
    <form action="{% url 'cadastrar' %}">
        <input type="submit", value='Cadastro'>
    </form>
  
    <style>
        html{
            display: grid;
            align-items: center;
            justify-content: center;
            margin: 20vh;
        }
    </style>
</body>
</html>