* {
    padding: .2vw;
    margin: 0;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url(ccabackground.jpg);
}

.index {
    padding: 2vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    margin-bottom: .5vw;
    margin-top: .5vw;
    color: rgb(15,107,219);
}

.logo {
    width: 35%;
    margin-right: 2vw;
}

input {
    width: 100%;
    padding: .4vw;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 10px 3px rgb(15,107,219);
}
input:hover {
    box-shadow: 1px 1px 10px 5px rgb(15,107,219);
}

button {
    width: 100%;
    padding: .5vw;
    background-color: rgb(15,107,219);
    border: none;
    box-shadow: 1px 1px 10px 3px rgb(255,204,41);
    color: white;
    /* color: rgb(255,204,41); */   
}
button:hover{
    background-color:  rgb(255,204,41);
    color: rgb(15,107,219);
} 

strong {
    font-size: large;
}