{% extends "index.html" %}
{% load static %}

{% block 'title' %} Autenticar {% endblock 'title' %}

{% block 'body' %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}
    <h3>Entrar</h3>
    <form action="{% url 'autenticar' %}" method="POST">{% csrf_token %}
        <label for="usuario"><strong>Usuário</strong></label>
        <br>
        <input type="text", placeholder=" Usuário", name='usuario' required>
        <br>
        <label for="Senha"><strong>Senha</strong></label>
        <br>
        <input type="password", placeholder=" Senha", name='senha0'required>
        <br>
        <br>
        <button class='btn_default' type="submit"><strong>Entrar</strong></button>
    </form>
    <br>
    
{% endblock 'body' %}