{% extends "index.html" %}
{% load static %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'body' %}
    <form action="" method="POST">{% csrf_token %}
        <label for=""><strong>Tipos</strong></label>
        <select name="tipo" class="form-select" id="">
            <option value="">---Selecione---</option>
            {% for t in tipos %}
                <option value="{{t.id}}">{{t}}</option>
            {% endfor %}
        </select>
        <label for=""><strong>Estilos</strong></label>
        <select name="estilo" class="form-select" id="">
            <option value="">---Selecione---</option>
            {% for e in estilos %}
                <option value="{{e.id}}">{{e}}</option>
            {% endfor %}
        </select>
        <label for=""><strong>Cores</strong></label>
        <select name="cor" class="form-select" id="">
            <option value="">---Selecione---</option>
            {% for c in cores %}
                <option value="{{c.id}}">{{c}}</option>
            {% endfor %}
        </select>
        <label for=""><strong>Tamanhos</strong></label>
        <select name="tamanho" class="form-select" id="">
            <option value="">---Selecione---</option>
            {% for s in tamanhos %} <!-- s for size = tamanho -->
                <option value="{{s.id}}">{{s}}</option>
            {% endfor %}
        </select>
        <label for=""><strong>Quantidade</strong></label>
        <input type="number" placeholder="0" name="qtd" class="form-control shadow-main-color">
        <br>
        <a href="{% url 'inserir' %}"><button type="submit"><strong>Inserir</strong></button></a>
        <br>
        <br>
    </form>
    <a href="{% url 'home' %}"><button type="submit"><strong>Voltar</strong></button></a>
{% endblock 'body' %}
