{% extends "index.html" %}
{% load static %}

{% block 'title' %}Cadastro{% endblock 'title' %}

{% block 'body' %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}
    <h3>Cadastro</h3>
    <form action="{% url 'cadastrar' %}" method="POST">{% csrf_token %}
        <label for="usuario">Usuário</label>
        <br>
        <input type="text", placeholder="Usuário", name='usuario', required>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="text", placeholder="Email", name='email'>
        <br>
        <label for="Senha">Senha</label>
        <br>
        <input type="password", placeholder="Senha", name='senha0', required>
        <br>
        <input type="password", placeholder="Confirmar Senha", name='senha1', required>
        <br>
        <br>
        <input type="submit", value='Cadastrar'>
    </form>
    <br>
    <form action="{% url 'autenticar' %}">
        <input type="submit", value='Entrar'>
    </form>
{% endblock 'body' %}