{% extends "index.html" %}
{% load static %}

{% block 'title' %}Consultar{% endblock 'title' %}

{% block 'head'%}
    <link rel="stylesheet" href="{% static 'consulta/css/consulta.css' %}">
{% endblock 'head'%}

{% block 'body' %}
{% if messages %}
{% for message in messages %}
    <section class="alert {{message.tags}}">
        {{message}}
    </section>
{% endfor %}
{% endif %}
<h3>Consultar</h3>
<div class="filters">
    <form action="" method="GET">
        <label for="tipo_filter"><strong>Tipo:</strong></label>
        <select name="tipo_filter" id="tipo_filter">
            <option value="0">Todos</option>
            <!-- Loop through tipos to create options -->
            {% for tipo in tipos %}
                <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
            {% endfor %}
        </select>

        <label for="tamanho_filter"><strong>Tamanho:</strong></label>
        <select name="tamanho_filter" id="tamanho_filter">
            <option value="0">Todos</option>
            <!-- Loop through tamanhos to create options -->
            {% for tamanho in tamanhos %}
                <option value="{{ tamanho.id }}">{{ tamanho.tamanho }}</option>
            {% endfor %}
        </select>

        <label for="cor_filter"><strong>Cor:</strong></label>
        <select name="cor_filter" id="cor_filter">
            <option value="0">Todos</option>
            <!-- Loop through cores to create options -->
            {% for cor in cores %}
                <option value="{{ cor.id }}">{{ cor.cor }}</option>
            {% endfor %}
        </select>

        <button class='filterbtn' type="submit"><strong>Filtrar</strong></button>
    </form>
</div>
<hr>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Cor</th>
                <th scope="col">Genero</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Local</th>
            </tr>
        </thead>
        <tbody>
            {% for uniforme in uniformes %}
                <tr>
                    <td>{{uniforme.tipo}}</td>
                    <td>{{uniforme.tamanho}}</td>
                    <td>{{uniforme.cor}}</td>
                    <td>{{uniforme.genero}}</td>
                    <td>{{uniforme.qtd}}</td>
                    <td>{{uniforme.local}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url 'estoque' %}"><button class='btn_default'><strong>Voltar</strong></button></a>

{% endblock 'body' %}
