{% extends "index.html" %}
{% load static %}

{% block 'title' %}Opções{% endblock 'title' %}

{% block 'body' %}
    {% if messages %}
    {% for message in messages %}
        <section class="alert {{message.tags}}">
            {{message}}
        </section>
    {% endfor %}
    {% endif %}
    <h3>Estoque</h3>
    <div class="container">
        <br>
        <a href="{% url 'consultar' %}"><button class='btn_default' type="submit"><strong>Estoque Atual</strong></button></a>
        <br>
        <br>
        <a href="{% url 'historico' %}"><button class='btn_default' type="submit"><strong>Consultar Histórico</strong></button></a>
        <br>
        <br>
        <br>
        <a href="{% url 'home' %}"><button class='btn_default'><strong>Voltar</strong></button></a>
    </div>
{% endblock 'body' %}