{% extends "index.html" %}
{% load static %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'body' %}
    {% if messages %}
    {% for message in messages %}
        <section class="alert {{message.tags}}">
            {{message}}
        </section>
    {% endfor %}
    {% endif %}
    <div class="container">
        <br>
        <a href="{% url 'inserir' %}"><button type="submit"><strong>Inserir Uniforme</strong></button></a>
        <br>
        <br>
        <a href="{% url 'remover' %}"><button type="submit"><strong>Remover Uniforme</strong></button></a>
        <br>
        <br>
        <a href="{% url 'consultar' %}"><button type="submit"><strong>Consultar Estoque</strong></button></a>
        <br>
        <br>
        <a href="{% url 'cadastrar' %}"><button type="submit"><strong>Cadastrar Usuário</strong></button></a>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'autenticar' %}"><button type="submit"><strong>Sair</strong></button></a>
    </div>
{% endblock 'body' %}