<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniformes</title>
</head>
<body>
    <h1>Uniformes</h1>

    <div class="filters">
        <form action="" method="GET">
            <label for="tipo_filter"><strong>Tipo:</strong></label>
            <select name="tipo_filter" id="tipo_filter">
                <option value="0">Todos</option>
                <!-- Loop through tipos to create options -->
                {% for tipo in tipos %}
                    <option value="{{ tipo.id }}">{{ tipo.tipo }}</option>
                {% endfor %}
            </select>

            <label for="tamanho_filter"><strong>Tamanho:</strong></label>
            <select name="tamanho_filter" id="tamanho_filter">
                <option value="0">Todos</option>
                <!-- Loop through tamanhos to create options -->
                {% for tamanho in tamanhos %}
                    <option value="{{ tamanho.id }}">{{ tamanho.tamanho }}</option>
                {% endfor %}
            </select>

            <label for="cor_filter"><strong>Cor:</strong></label>
            <select name="cor_filter" id="cor_filter">
                <option value="0">Todos</option>
                <!-- Loop through cores to create options -->
                {% for cor in cores %}
                    <option value="{{ cor.id }}">{{ cor.cor }}</option>
                {% endfor %}
            </select>

            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Tamanho</th>
                <th>Cor</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <br>
        <tbody>
            {% for uniforme in uniformes %}
                <tr>
                    <td>{{ uniforme.tipo }}</td>
                    <td>{{ uniforme.tamanho }}</td>
                    <td>{{ uniforme.cor }}</td>
                    <td>{{ uniforme.qtd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>