{% extends "index.html" %}
{% load static %}

{% block 'title' %}Cadastro{% endblock 'title' %}

{% block 'body' %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}
    <h3>Cadastro</h3>
    <form action="{% url 'cadastrar' %}" method="POST">{% csrf_token %}
        <label for="usuario"><strong>Usuário</strong></label>
        <br>
        <input type="text", placeholder="Usuário", name='usuario', required>
        <br>
        <label for="email"><strong>Email</strong></label>
        <br>
        <input type="email", placeholder="Email", name='email'>
        <br>
        <label for="Senha"><strong>Senha</strong></label>
        <br>
        <input type="password", placeholder="Senha", name='senha0', required>
        <br>
        <label for="Senha"><strong>Confirmar Senha</strong></label>
        <input type="password", placeholder="Confirmar Senha", name='senha1', required>
        <br>
        <br>
        <button type="submit"><strong>Cadastrar</strong>
        </button>
    </form>
{% endblock 'body' %}